
#quotebox {
    border-radius: 10px;
    line-height: 1.4;
    font-size: 2em ;;
/* background: linear-gradient(153deg, rgba(219,206,214,1) 0%, #265F7A 100%); */
    font-weight: 600;
    color: white;
    font-family: 'gotham-medium';    
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin-bottom: 1em;
    color: #265F7A;
    width: 20%;
    backdrop-filter: blur(6px);
    font-style: italic;


  }

  #quotebox>h3 {
      height: 80%;
  }

  .author {
      font-size: 40%;
      height: 20%;
      align-self: flex-end;
      margin-top: 2em;
  }