.textarea{
    resize:none;
    padding: 0.5em;
}

.modal-body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
}

#modal{
    max-width: 600px;
}

.modal-header {
    background-color: #FECA73;
}
p{
    padding: 2em 0.5em;
}

@font-face {
    font-family: 'gotham-medium';
    src: url('../../Gotham\ Medium\ Regular.ttf');
}
