
:root{
  --box-colour: rgb(204, 210, 218);
}

.box {
  top: 0;
  left: 0;
  opacity: 0.7;
    width: 20%;
    margin: 50px auto;
    background-color: var(--box-colour);
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: white;
    font-family: arial;
    position: absolute;
    border-radius: 15px;
    font-size: 0.75em;
    overflow-wrap: anywhere;
    box-shadow: 3px 3px 5px var(--box-colour);
}

.sb0:before{

    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid var(--box-colour);
    border-right: 10px solid transparent;
    border-top: 10px solid var(--box-colour);
    border-bottom: 10px solid transparent;
    left: 20px;
    bottom: -20px;
}

.sb1:before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid var(--box-colour);
    border-top: 10px solid var(--box-colour);
    border-bottom: 10px solid transparent;
    right: 20px;
    bottom: -20px;
}

.box:hover{
  scale: 2.5;
  z-index: 1;
  opacity: 1;
  box-shadow:
    0 0 15px var(--box-colour),
    0 0  30px rgba(149, 225, 238, 0.7),
    0 0  45px rgba(235, 249, 249, 0.7);
}