
:root {
  /* CSS HEX */ 
  --field-drab: #625134ff; 
  --glaucous:108, 139, 180; 
  --indigo: #470c95ff; 
  --copper-crayola: #d28a6dff; 
  --green-cyan: #32996cff;
}
body {
  margin: 0;
  font-family: 'gotham-medium';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(208, 214, 223);
  background: url('./31082021-06_generated.png');
  background-size: 100% 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
