
:root {
  /* CSS HEX */ 
  --field-drab: #625134ff; 
  --glaucous:108, 139, 180; 
  --indigo: #470c95ff; 
  --copper-crayola: #d28a6dff; 
  --green-cyan: #32996cff;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
